body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: $light-grey;
}

.heading-primary {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
