<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="header__heading heading-primary">SIMPLE EDITOR</h1>
    </header>
    <main class="content">
      <article class="editor">
        <h2 class="editor__heading heading-secondary" hidden>Your message</h2>
        <section class="editor__tools"></section>
        <div class="editor__textbox"></div>
      </article>
    </main>
    <aside class="sidebar">aside</aside>
    <footer class="footer">
      <p class="footer__content paragraph">Refactoring by <a class="footer__link" href="#">Tomasz Dańczak</a> - 2020. </p>
      <p class="footer__content paragraph"> Oryginal: <a class="footer__link" href="https://github.com/KrzysztofGrudzien">Krzysztof Grudzień</a> - 2019</p>
    </footer>
  </div>
</body>

</html>