.btn-font-style {
  position: relative;
  min-width: 40px;
  border: solid 1px $olive;
  border-radius: 5px;
  background: none;
  font-size: 30px;
  color: $olive;
  text-align: center;
  margin: 0 2px;
  cursor: pointer;

  &--bold {
    font-weight: 700;
  }

  &--underline {
    text-decoration: underline;
  }

  &--italic {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
}

.btn-select {
  width: 60px;
  margin-right: 10px;
  border: none;
  background: none;
  color: $olive;
  font-size: 30px;
  cursor: pointer;
}

.btn-editor {
  &--load,
  &--save {
    position: relative;
    max-width: 110px;
    height: 36px;
    background-color: $olive;
    border: none;
    border-radius: 5px;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
  }

  &--save {
    margin-left: 4px;
  }
}
