.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: $olive;

  &__link {
    &:link,
    &:visited,
    &:active,
    &:focus {
      color: currentColor;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
